<!--  -->

<div class="panel panel-default">
    <div class="panel-heading">
        <div layout="row" layout-align="start center">
            <h4 flex><strong>Captcha</strong></h4>
            <md-button type="button" class="md-primary" ng-click="reqCaptcha()">Refresh</md-button>
        </div>
    </div>
    <div class="panel-body">
        <p hide-gt-sm>* Mobile users are recommended to rotate their screen sideways, (landscape mode).</p>
        <pre style="font-size:3px;line-height:2px" ng-style="zoomStyle" ng-bind="d.captcha"></pre>

        <div layout="row" layout-align="center center">
            <span class="marg-right2">Zoom</span>
            <md-slider class="md-primary" flex md-discrete ng-model="zoom" ng-change="zoomF()" step="0.25" min="1" max="3" aria-label="Zoom" flex>
            </md-slider>
        </div>

    </div>
    <div class="panel-footer">
        <p>Please submit the characters to prove you're not a robot.</p>
        <md-input-container flex>
            <label>Captcha Input</label>
            <input type="text" input-change ng-change="inpChange(['alphanum', 'spaces', 'upper'])" ng-trim="false" ng-model="d.incaptcha" required>
            <!-- <div class="ng-msg" ng-messages>Alphanumeric (A-Z 0-9), No spaces, No capitals</div> -->
            <!-- <input type="text" input-change ng-change="inpChange(['alphanum'])" ng-model="d.incaptcha" required> -->
        </md-input-container>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary" flex>submit</md-button>
        </div>
    </div>
</div>

