<!--  -->

<md-content layout="row" class="md-padding">
    <div flex="0" flex-gt-lg="20">
    </div>
    <div flex="100" flex-gt-lg="60">
        <md-card class="md-padding md-hue-1 md-whiteframe-z2">

<!-- 
                        FINISH THE LOGIN PAGE
 -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="captchaForm" ng-submit="submitCaptcha()">
                        <md-input-container flex>
                            <label>Username</label>
                            <input type="text" ng-model="d.uname" required>
                        </md-input-container>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div layout="row" layout-align="start center">
                                    <p flex><strong>Captcha</strong>
                                        <br>Please insert the following 5 characters:</p>
                                    <md-button type="button" class="md-primary" ng-click="reqCaptcha()">Refresh</md-button>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p hide-gt-sm>- Mobile users are recommended to rotate their screen sideways, (landscape mode).</p>
                                <pre style="font-size:3px;line-height:2px" ng-style="zoomStyle">{{d.captcha}}</pre>

                                <div layout="row" layout-align="center center">
                                    <span class="marg-right2">Zoom</span>
                                    <md-slider class="md-primary" flex md-discrete ng-model="zoom" ng-change="zoomF()" step="0.25" min="1" max="3" aria-label="Zoom" flex>
                                    </md-slider>
                                </div>

                            </div>
                            <div class="panel-footer">
                                <md-input-container flex>
                                    <label>Captcha Goes Here</label>
                                    <!-- 
                                                        FIX THIS INPUT SHIT
                                     -->
                                    <input type="text" ng-change="change('incaptcha', true, true, false, 5)" name="capin" ng-trim="false" ng-model="d.incaptcha" required>
                                    <!-- <input type="text" md-maxlength="5" ng-keyup="keyChange($event)" name="capin" ng-trim="false" ng-model="d.incaptcha" required> -->
                                </md-input-container>
                                <div layout="row">
                                    <md-button type="submit" class="md-raised md-primary" flex>submit</md-button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form ng-submit="submit()">

                        <md-input-container flex>
                            <label>Email</label>
                            <input type="email" md-maxlength="50" ng-model="d.email" required>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Username</label>
                            <input type="text" ng-model="d.uname" required>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" md-maxlength="50" ng-model="d.pass" required>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Retype Password</label>
                            <input type="password" md-maxlength="50" ng-model="d.pass2" required>
                        </md-input-container>

                        <div layout="row">
                            <md-button type="submit" class="md-raised md-primary" flex>register</md-button>
                        </div>
                    </form>
                </div>
            </div>
        </md-card>
    </div>
    <div flex="0" flex-gt-lg="20">
    </div>
</md-content>

