<!--  -->

<md-content layout="column">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <i class="material-icons marg-right2">search</i>
            <input type="text" class="form-control" placeholder="Global Search (does not work yet...)" flex>

            <md-button class="pad-lr" ng-click="href('user.new_property')">
                <div layout="row" layout-align="center center">
                    <i class="material-icons btn-icon">add</i>
                    <span>Add New Property</span>
                </div>
            </md-button>


        </div>
    </md-toolbar>

    <table st-table="myProps" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in myProps" ng-click="hrefProperty(row.doc._id)">
                <td>{{row.doc.name}}</td>
                <td>{{row.doc.address}}</td>
                <td>{{row.doc.city}}</td>
                <td>{{row.doc.state}}</td>
            </tr>
        </tbody>
    </table>

</md-content>

