<!--  -->

<md-content layout="column">

    <table st-table="myProperties" st-safe-src="myPropertiesCollection" class="table table-striped">
        <thead>
            <tr>
                <th colspan="6">
                    <div layout="row">
                        <input st-search class="form-control" placeholder="Search Anything..." type="text">
                        <md-button style="margin: 0 10px 0 10px;" ng-click="href('user.add_property')" class="md-primary">
                            <div layout="row" layout-align="center center">
                                <i style="margin-left: 20px;"class="material-icons btn-icon">add</i>
                                <span style="margin-right: 20px;">Add Property</span>
                            </div>
                        </md-button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Company</th>
                <th>Property</th>
                <th>Administrator</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in myProperties" ng-click="join(row.doc.type, row.doc._id)">
                <td>{{row.doc.name}}</td>
                <td>{{row.doc.property}}</td>
                <td>{{row.doc.users}}</td>
                <td>{{row.doc.address}}</td>
            </tr>
        </tbody>
    </table>

</md-content>

