<!--  -->

<md-content layout="column" layout-margin>

    <md-content layout="row" layout-margin>
        <h4 layout-margin>
            <small>Property</small> {{p.name}}
        </h4>
        <h4 layout-margin>
            <small>Address</small> {{p.address}}, {{p.city}}, {{p.state}}, {{p.zip}}
        </h4>
        <h4 layout-margin>
            <small>Phone</small> {{p.phone}}
        </h4>
        <h4 layout-margin>
            <small>Email</small> {{p.email}}
        </h4>

        <md-button class="pad-lr md-primary md-raised" ng-click="hrefAddSite('p._id')">
            <div layout="row" layout-align="center center">
                <i class="material-icons btn-icon">add</i>
                <span>Add Site to {{p.name}}</span>
            </div>
        </md-button>
    </md-content>

    <table st-table="propSites" class="table table-striped">
        <thead>
            <tr>
                <th>Site Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in propSites">
                <td>{{row.address}}</td>
            </tr>
        </tbody>
    </table>

</md-content>

