<!--  -->

<md-content layout="column">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <i class="material-icons marg-right2">search</i>
            <input type="text" class="form-control" placeholder="Global Search" flex>

            <md-button class="pad-lr" ng-click="href('user.new_property')">
                <div layout="row" layout-align="center center">
                    <i class="material-icons btn-icon">add</i>
                    <span>Add New Property</span>
                </div>
            </md-button>
        </div>
    </md-toolbar>

    <table st-table="myProps" class="table table-striped">
        <thead>
            <tr>
                <th>Company</th>
                <th>Property</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in myProps">
                <td>{{row.company}}</td>
                <td>{{row.property}}</td>
                <td>{{row.address}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>
            </tr>
        </tbody>
    </table>

</md-content>

