<!--  -->

<md-content layout="row" class="md-padding">

    <div flex="0" flex-gt-lg="20">
    </div>
    <div flex="100" flex-gt-lg="60">
        <md-card class="md-padding md-hue-1 md-whiteframe-z2">

            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="submit('prop')">
                        <div class="row">

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Name of Company</label>
                                    <input type="text" class="form-control" ng-model="d.name" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Street Address</label>
                                    <input type="text" class="form-control" ng-model="d.address" required>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control" ng-model="d.city" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" class="form-control" ng-model="d.state" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Zip</label>
                                    <input type="text" class="form-control" ng-model="d.zip" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" ng-model="d.phone" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Fax Number</label>
                                    <input type="text" class="form-control" ng-model="d.fax" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="text" class="form-control" ng-model="d.email" required>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block">Enroll - {{d.name}}</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
    </div>
    </md-card>
    </div>
    <div flex="0" flex-gt-lg="20">
    </div>

</md-content>

