<!--  -->

<md-content layout="column" class="md-padding">

    <div class="panel panel-primary" flex>
        <div class="panel-heading">
            <h3 class="panel-title bold">Which type of company would you like to enroll?</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
        </div>
    </div>

    <div class="panel panel-primary" flex>
        <div class="panel-heading">
            <h3 class="panel-title bold">Which type of company would you like to enroll?</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                            <h3>Property Management</h3>
                            <i hide-sm class="material-icons md-128">location_city</i>
                        </center>
                        <div class="caption">
                            <button ng-click="href('newb.enr_propmgt')" class="btn btn-primary btn-block" role="button">Enroll Your Property Management Company</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                            <h3>Service Provider</h3>
                            <i hide-sm class="material-icons md-128">build</i>
                        </center>
                        <div class="caption">
                            <button ng-click="href('newb.enr_vendor')" class="btn btn-primary btn-block" role="button">Enroll Your Service Company</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</md-content>
