<!--  -->

<md-content layout="row" class="md-padding">

    <div class="panel panel-primary" flex>
        <div class="panel-heading">
            <h3 class="panel-title bold">Which type of company do you work with?</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                            <h3>Property Management</h3>
                            <i hide-sm class="material-icons md-128">location_city</i>
                        </center>
                        <div class="caption">
                            <p>Request invite here if you are a property:</p>
                            <ul>
                                <li>Investor</li>
                                <li>Manager</li>
                                <li>Maintenance Staff</li>
                                <li>Manager Assistant</li>
                                <li>Etc...</li>
                            </ul>
                            <button ng-click="href('newb.inv_propmgr')" class="btn btn-primary btn-block" role="button">Request Invite To Your Building</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="thumbnail">
                        <center>
                            <h3>Service Provider</h3>
                            <i hide-sm class="material-icons md-128">build</i>
                        </center>
                        <div class="caption">
                            <p>Request invite here if you are employed by a service provider.</p>
                            <button ng-click="href('newb.inv_vendor')" class="btn btn-primary btn-block" role="button">Request Invite To Your Employer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</md-content>

